@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.tooltip-container {
  position: relative;
}

.tooltip-text {
  position: absolute;
  background-color: #f9f9f9;
  color: #333;
  border: 1px solid #ddd;
  font-size: 12px;
  border-radius: 4px;
  padding-left: 2px;
  display: none;
  top: -30px; /* Adjust this value to change the tooltip's position */
  right: -20px; /* Adjust this value to change the tooltip's position */
}

.tooltip-container:hover .tooltip-text {
  display: block;
}
